* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: plum;
    color: black;
}

.title {
    font-size: 50px;
}



header nav {
    font-size: 20px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

main {
    display: flex;
    flex-direction: column;
}

.profile {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/portfolio\ pic.jpeg");
    background-size: cover;
    background-position: center;
}
/*FIX THIS FONT SIZE!*/
.subtitle {
    font-size: 40px;
}

h1 {
    font-size: 50px;
    
}

footer {

}